.maindivregister {
  /* margin-left: 30%; */
  width: 65%;
  text-align: center;
}

.formdivregister {
  width: 55%;
  text-align: center;
  margin-left: 33%;
}

.wrapperregister {
  text-align: center;
  margin-left: 51%;
  margin-bottom: 10%;
}
