.loader-addcandidate {
  margin-left: 47%;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #246ad3; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

.addcanclear {
  margin-left: 1%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
