<html>

<head>

    <title>Document</title>
</head>

<body>
    <h1> Request for new user account </h1>

    <br>
    {{title}}

    your have been activated new account
    visit this link to configur your new account,
    this link will expire in 30 minutes



    <a href={{msg}}> configure my account </a>



</body>

</html>