
<html>

<head>

    <title>Document</title>
</head>

<body>
    <h1> Request for password reset </h1>
    good day : {{name}}
    <br>
    {{title}}
    if you Request a password reset for your work account in reacruetment @ auxentta profile
    please visit this link to change password.



    <a href={{message}}> reset my password </a>

id - # {{uniqeid}}

</body>

</html>