<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>aloha</h1>
    <h1>confrim email </h1>
    very good day :>>>>>>>>>> {{name}}
    <br>
    {{title}}
    if you Request a password reset for your work account in reacruetment @ auxentta profile
    please visit this link to change password.a;ipfjahfapihpishnfpiashapbdspa



    <a href={{message}}> confrim email</a>

    id - # {{uniqeid}}
</body>

</html>