.avatardivlandingpage {
  margin-left: 15%;
  margin-top: 0%;
}

.spanlandingpagegreet {
  font-size: 3rem;
}
.listinterivewslandingpage {
  text-align: left;
  padding-bottom: 1%;
}
.landingcontetdic {
  margin-left: 36%;
  text-align: left;
  inline-size: 10%
}
