* {
  box-sizing: border-box;
}

#searchbydatebtn {
  top: 19%;
  padding-left: 0%;
  left: 10%;
  width: 20%;
}

.searchcontainer {
  width: 80%;
  margin-left: 0%;
  margin-top: 0%;
}

.searchParamsdiv {
  margin-left: 20%;
}

.jobspecdivsearch {
  width: 200%;
  margin-right: 10%;
}

.datecdivsearch {
  margin-left: 10%;
}
