.canview {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.canview2 {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#status{
  margin: auto;
  width: 25%;
}
.list{
  margin: 0; padding: 0;
  text-align: left;

}