.canview {
  margin: auto;
  /* width: 50%; */
  padding: 10px;
}
.canview2 {
  margin: auto;
  /* width: 50%; */
  padding: 10px;
}

#status {
  margin: auto;
  width: 25%;
}
.list {
  margin: 0;
  padding: 0;
  text-align: left;
}
.canview,
.canview2 {
  text-align: center;
}

.uploadtaglable {
  margin-right: 20px;
}

.canviewborderdividcandidtaeeditdetails {
  margin-top: 2%;
}

.canviewshortlistform {
  margin-left: 40%;
}

.canviewmodal2closebtn {
  background-color: #246ad3;
}

.loader-candidateview {
  margin-left: 47%;
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #246ad3; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rec {
  text-align: right;
  margin: auto 0;
  margin-left: 45%;
  color: brown;
}
.sk {
  margin: 0 5px 0 0;
}

.pcolorcanview {
  margin-bottom: 1%;
}
.h6colorcanview {
  margin-top: 1%;
  color: rgba(0, 0, 0, 0.54);
}

.threecol {
  flex-flow: row nowrap;
  /* margin-bottom: 10%; */
}
.xx {
  float: left;
  margin: 0;
  padding: 0;
  width: 32%;
}

.btngroupdivcanview {
  margin-left: 30%;
  text-align: center;
  margin-bottom: 5%;
}

.finalstateforinterviewcanview {
  text-align: center;
  /* float: right; */
  /* width: 20%; */
  margin-bottom: 20%;
  align-content: center;
  /* margin-left: 40%; */
}

.canviewbtngroup {
  margin: 0.3%;
}
.shortlistheadingcanview {
  text-align: center;
}

.interviewseccanview {
  margin-left: 15%;
  width: 50%;
}
.paddingdivforcanview {
  /* margin-bottom: 10%; */
  /* height: 100%; */
  color: #ffffff;
}
