#navlogo {
  position: relative;
}
#logoutbtn {
  align-self: right;
  margin-left: 10px;
}

#navdashbordlink {
  margin-left: 50px;
}
#notification {
  margin-left: 1710px;
}

/* .navbar-loggedin {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
} */

/* .navbar-items {
    margin-left: 0%;
  display: inline;
  float: left;
  text-decoration: none;
} */

/* .navbar-anchor {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
.navbar-items .navbar-anchor:hover {
  background-color: #111;
  color: white;
} */

/* #navbartoplogout{
    margin-left: 90%;
    padding-bottom: -10px;
    top: -10px;

}*/
#navbartopnortify{
    margin-left: 89%;
} 
/* 
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 6px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  } */
  
  .notification:hover {
    /* background: red; */
  }
  
  .notification .badge {
    position: absolute;
    top: -0px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }